/*Import Fonts
---------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-licorice: #0E0004;
    --color-alice-blue: #E8EEF2;
    --color-argentinian-blue: #77B6EA; 
    --color-columbia-blue: #C7D3DD;
    --color-timberwolf: #D6C9C9;
}

/* Global Styles
-----------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;  /*Set the default size to 10px*/
    user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    background-color: var(--color-licorice);
}
h1, h2, h3 {
    font-weight: 400;
}
h1 {
    font-size: 7rem;
    line-height: 0.85;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}
p {
    font-size: 1.6rem;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* Header Styles
-----------------------------------------------------*/
header{
    position: fixed;
    width: 100%;
    font-size: 1.6rem;
    background-color: var(--color-licorice);
    border-bottom: 1px solid var(--color-alice-blue);
    border-radius: 0 0 10px 10px;
    z-index: 1;
}
header ul{
    display: flex;
    justify-content: center;
}
header ul li{
    margin: 10px 30px;
}
header ul li a{
    padding: 10px 20px;
    color: var(--color-alice-blue);
}
header ul li a:hover{
    color: #77B6EA;
}

/* Main Styles
-----------------------------------------------------*/
main {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    color: var(--color-alice-blue);
}
main img {
    border-radius: 50%;
    margin: 10px 0;
}
main p, .social-links{
    margin-top: 10px;
}
.social-links button{
    width: 150px;
    padding: 20px 10px;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-alice-blue);
}
.social-links button:hover{
    background-color: var(--color-argentinian-blue);
}

/* Scroller Animation Styles
-----------------------------------------------------*/
.scroller{
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}
.scroller_inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    gap: 2rem;
    animation: scroll 40s linear infinite;
}
.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    background: var(--color-alice-blue);
    border: none;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
@keyframes scroll{
    to{
        transform: translate(calc(-50% - 1rem));
    }
}

/* Projects Styles
-----------------------------------------------------*/
#projects{
    width: 100%;
    margin-top: 8rem;
    color: white;
}
.project-header-wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.project-header-wrapper h1 {
    margin: 10px 0;
}
.category-wrapper {
    margin-top: 30px;
}
.category-wrapper button{
    width: 49%;
    font-size: 1.6rem;
    padding: 6px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-timberwolf);
    color: var(--color-licorice);
}
.category-wrapper button:hover{
    background-color: var(--color-argentinian-blue);
}
.category-wrapper button.active{
    background-color: var(--color-argentinian-blue);
    color: var(--color-licorice);
}

.projects-list{
    width: 80%;
    height: 100%;
    margin: 20px auto;
}
.project-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--color-alice-blue);
    color: var(--color-licorice);
    padding: 10px;
}
.project-image img{
    height: auto;
    width: 500px;
}